<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISignService"
                 maxReceivedMessageSize="20000000"
                 maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!-- <endpoint address="https://win-sehejg1m53f/signature/signature.svc" -->
      <endpoint address="https://online-dev.comsigntrust.com/signature/signature.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISignService"
          contract="ISignService" name="BasicHttpBinding_ISignService" />
    </client>
  </system.serviceModel>
</configuration>